<!-- 座席の位置確認マップモーダル -->
<div class="modal fade selected-seat-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
            </div>

            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            -->
        </div>
    </div>
</div>


<script>
/**
 * 座席の位置確認マップを表示する
 * 様々なページからこの機能を利用する想定
 */
function showSeatPositon(screenId, selecteSeatCodes) {
    $.ajax({
        dataType: 'text',
        url: `/screen/${screenId}/show`,
        type: 'GET',
        data: {},
        beforeSend: function() {
        }
    }).done(function(data) {
        $('.selected-seat-map .modal-body').html(data);
        loadHandler();
        selecteSeatCodes.forEach(function(selecteSeatCode){
            $(`.selected-seat-map .modal-body .seat a[data-seat-code="${selecteSeatCode}"]`).addClass('active');
        });

        $('.selected-seat-map').modal();
    }).fail(function(jqxhr, textStatus, error) {
    }).always(function() {
        loadHandler();
    });
}

// 座席位置確認マップを表示する
$(document).on('click', '.show-seat-position', function(){
    showSeatPositon($(this).attr('data-screen-id'), [$(this).attr('data-seat-code')]);
});

</script>