<!DOCTYPE html>
<html lang="ja">
<head>
<% if (head === null) { %>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bxslider.js"></script>
    <script src="/js/app.js"></script>
<% } else { %>
    <%- head %>
<% } %>
</head>

<body class="">
<div class="wrapper">

<%- include('./_header') -%>

<%- body %>

<%- include('./_footer') -%>

</div>
</html>