<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="Shift_JIS">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<link href="/css/style.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

<a class="btn btn-big" href="javascript:void(0);"><span>送信</span></a>

<script>
$(function(){
    $('.btn').on('click', function(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                console.log(xhttp.responseText);
            }
        };
        xhttp.open("POST", "/PayDesign/reserve/notify", true);
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=SJIS')
        xhttp.send("SEQ=50392054&DATE=20160819&TIME=171900&SID=20160819164112&KINGAKU=3000&CVS=famima&SCODE=&FUKA=1111114069");
    });
});
</script>
</div>

</body>
</html>

