<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}
%>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered">
        <tr>
            <td class="col-xs-3 col-md-3<% if (routeName === 'member.reserve.tickets') { %> bg-primary<% } else { %> bg-info text-muted<% } %>">
                STEP1
            </td>
            <td class="col-xs-3 col-md-3<% if (routeName === 'member.reserve.profile') { %> bg-primary<% } else { %> bg-info text-muted<% } %>">
                STEP2
            </td>
            <td class="col-xs-3 col-md-3<% if (routeName === 'member.reserve.confirm') { %> bg-primary<% } else { %> bg-info text-muted<% } %>">
                STEP3
            </td>
            <td class="col-xs-3 col-md-3<% if (routeName === 'member.reserve.complete') { %> bg-primary<% } else { %> bg-info text-muted<% } %>">
                STEP4
            </td>
        </tr>
        </table>
    </div>

</div>