<%- include('../../common/reserve/_complete') %>

<div class="center">
    <a class="btn btn-lg btn-back" href="http://2016.tiff-jp.net/"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
