<%- include('../../common/reserve/_complete') %>

<div class="center">
    <a class="btn btn-lg btn-back" href="<%= conf.get('official_website_url') %>"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
