<h1>規約</h1>
<div class="row">
    <form method="post">
        <div class="form-group">
            <label for="id_user_id">ログイン番号</label>
            <input type="text" name="user_id" id="id_user_id" class="form-control" value="<%- form.fields.user_id.value %>">
        </div>

        <div class="form-group">
            <label for="id_password">パスワード</label>
            <input type="password" name="password" id="id_password" class="form-control" value="<%- form.fields.password.value %>">
        </div>

        <input type="submit" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
