<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
            <add name="iisnode2" path="/api.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(.+(html|js|css|png|gif|jpg|mp3|mp4|ico))$" />
                    <action type="Rewrite" url="public/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Backend" stopProcessing="true">
                    <match url="^api[/]*(.*)$" />
                    <action type="Rewrite" url="api.js" appendQueryString="true" />
                </rule>
                <rule name="Frontend" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="index.js" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />


        <iisnode
            nodeProcessCountPerApplication="4"
            maxConcurrentRequestsPerProcess="1024"
            maxNamedPipeConnectionRetry="200"
            namedPipeConnectionRetryDelay="250"
            watchedFiles="*.js;web.config"
            loggingEnabled="false"
         />
    </system.webServer>
</configuration>