<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
            <add name="iisnode2" path="/api.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="http2https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- 事後処理でMPIP以外拒否 -->
                <rule name="posttiffIPRestriction" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(cancel\.tiff-ticket\.net|prod4teltiffwebapp\.azurewebsites\.net|prod4gmotiffwebapp\.azurewebsites\.net|prod02tiffwebapp\.azurewebsites\.net)$" negate="true" />
                        <add input="{REMOTE_ADDR}" pattern="124\.155\.113\.9" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>

                <!-- 入場サイト -->
                <rule name="admission" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod4admissiontiffwebapp\.azurewebsites\.net|test4admissiontiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/api/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/admission/performances" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/admission/performance/(.+)/confirm" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="/admission/performances" />
                </rule>

                <!-- キャンセルサイトについては、キャンセルページに強制リダイレクト -->
                <rule name="cancel" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(cancel\.tiff-ticket\.net|canceltiffwebapp\.azurewebsites\.net|test4canceltiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/customerSupport" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/policy$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/privacy$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/commercialTransactions$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="/customerSupport/cancel" />
                </rule>

                <!-- ペイデザイン結果通知用サーバー -->
                <rule name="PayDesignNotify" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod02tiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/PayDesign/reserve/notify$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/PayDesign/reserve/cancel$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://2016.tiff-ticket.net/" />
                </rule>

                <!-- GMO結果通知用サーバー -->
                <rule name="GMONotify" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod4gmotiffwebapp\.azurewebsites\.net|test4gmotiffwebapp\.azurewebsites\.net|dev4gmotiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/GMO/notify$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://2016.tiff-ticket.net/" />
                </rule>

                <!-- GMO結果受け取り用サーバーの場合 -->
                <rule name="GMResult" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod4completetiffwebapp\.azurewebsites\.net|complete\.tiff-ticket\.net|test4completetiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/api/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/error/notFound" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/GMO/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/pre/reserve/(.+)/complete" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/pre/reserve/(.+)/waitingSettlement" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/customer/reserve/(.+)/complete" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/customer/reserve/(.+)/waitingSettlement" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/member/reserve/(.+)/complete" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/reserve" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/language" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/policy$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/privacy$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/commercialTransactions$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://2016.tiff-ticket.net/" />
                </rule>

                <!-- GMO決済のない購入者区分専用の場合 -->
                <rule name="prod4tel" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod4teltiffwebapp\.azurewebsites\.net|test4teltiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/(pre|customer|member)/" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://2016.tiff-ticket.net/" />
                </rule>

                <!-- 1.5次販売用 -->
                <rule name="pre" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(prod4pretiffwebapp\.azurewebsites\.net|pre\.tiff-ticket\.net|test4pretiffwebapp\.azurewebsites\.net)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^(/public/|/public/customer/.+|^/public/member/.+|/public/staff/.+|/public/sponsor/.+|/public/tel/.+|/public/window/.+|/public/customerSupport/.+)$" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="/pre/reserve/start" />
                </rule>

                <rule name="API">
                    <match url="^public/api[/]*(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="api.js" appendQueryString="true"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />


        <iisnode
            nodeProcessCountPerApplication="0"
            maxNamedPipeConnectionRetry="200"
            namedPipeConnectionRetryDelay="250"
            watchedFiles="*.js;web.config"
            loggingEnabled="false"
         />
    </system.webServer>
</configuration>