<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
            <add name="iisnode2" path="/api.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="http2https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- キャンセルサイトについては、キャンセルページに強制リダイレクト -->
                <rule name="cancel" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^cancel\.tiff-ticket\.net$" />
                        <add input="{REQUEST_URI}" pattern="^/public/customerSupport" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/customerSupport/cancel" />
                </rule>

                <!-- GMO通知用サーバーの場合 -->
                <rule name="GMO" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^prod02tiffwebapp\.azurewebsites\.net$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/GMO/reserve/notify$" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://2016.tiff-ticket.net/" />
                </rule>

                <!-- 電話窓口専用の場合 -->
                <rule name="prod4tel" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^prod4teltiffwebapp\.azurewebsites\.net$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/customer" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/" />
                </rule>

                <!-- 当日窓口専用の場合 -->
                <rule name="prod4window" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^prod4windowtiffwebapp\.azurewebsites\.net$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/customer" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/" />
                </rule>

                <!-- 内部関係者専用の場合 -->
                <rule name="prod4staff" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^prod4stafftiffwebapp\.azurewebsites\.net$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/customer" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/" />
                </rule>

                <!-- 入場専用の場合 -->
                <rule name="prod4admission" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^prod4admissiontiffwebapp\.azurewebsites\.net$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/public/admission" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/public/api" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/admission/performances" />
                </rule>

                <rule name="API">
                    <match url="^public/api[/]*(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="api.js" appendQueryString="true"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />


        <iisnode
            nodeProcessCountPerApplication="0"
            maxNamedPipeConnectionRetry="200"
            namedPipeConnectionRetryDelay="250"
            watchedFiles="*.js;web.config"
            loggingEnabled="false"
         />
    </system.webServer>
</configuration>