<%
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.name;
}
%>
<header>
    <div class="container">

        <a href="/" class="header-logo"><img src="/images/common/logo.png" alt="TIFF"></a>

        <div class="header-menu">
            <% if (routeName.indexOf('mypage') >= 0 && staffUser.isAuthenticated()) { %>
            <div class="menu-staff">
                <p class="myname"><%- staffUser.get('department_name') %> <%- staffUser.get('name') %>様</p>
                <div class="staff-btns">
                    <a class="btn btn-logout" href="<%- url('staff.logout') %>"><span>Logout</span></a>
                    <a class="btn btn-newticket" href="<%- url('staff.reserve.start') %>"><span>New Ticket</span></a>
                    <a class="btn btn-release" href="release"><span>座席解放</span></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</header>
