body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row {
  margin: 0 0 20px 0;
}










.pc-not-view {
	display: none;
}

.screen {
	position: relative;
	overflow: hidden;
}

.screen .transition {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.screen .screen-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 404px;
	height: 665px;
	background-image: url(/images/pc/screen.png);
}

.screen .seat {
	position: absolute;
	width: 13px;
	height: 19px;
}

.screen .seat a {
	display: block;
	box-sizing: border-box;
	height: 100%;
	border: 1px solid #333;
	border-radius: 2px;
	background-color: #fff;
}

.screen .seat a.active {
	background-color: #d50000;
}

.screen .seat a.disabled {
	background-color: #666;
}

.screen .left {
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

.screen .right {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.screen .wheelchair a {
	background-image: url(/images/pc/wheelchair.png);
	background-repeat: no-repeat;
	background-position: center;
}

.screen .zoom-btn {
	position: fixed;
	z-index: 2;
	bottom: 10px;
	left: 10px;
	display: none;
}

.screen .zoom-btn.active {
	display: block;
}

.screen .zoom-btn a {
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #333;
	background-color: #fff;
}

@media screen and (max-width: 767px) {

.pc-not-view {
	display: block;
}

.sp-not-view {
	display: none;
}

}

