@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "Noto Sans", "Noto Sans Japanese", sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row {
  margin: 0 0 20px 0;
}










.pc-not-view {
	display: none;
}

.screen {
	position: relative;
}

.screen .transition {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.screen .screen-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 404px;
	height: 665px;
	background-image: url(/images/pc/screen.png);
}

.screen .seat {
	position: absolute;
	width: 13px;
	height: 19px;
}

.screen .seat a {
	display: block;
	box-sizing: border-box;
	height: 100%;
	border: 1px solid #333;
	border-radius: 2px;
	background-color: #fff;
}

.screen .seat a.active {
	background-color: #d50000;
}

.screen .seat a.disabled {
	background-color: #666;
}

.screen .left {
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

.screen .right {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.screen .wheelchair a {
	background-image: url(/images/pc/wheelchair.png);
	background-repeat: no-repeat;
	background-position: center;
}

.screen .zoom-btn {
	position: fixed;
	z-index: 2;
	bottom: 10px;
	left: 10px;
	display: none;
}

.screen .zoom-btn.active {
	display: block;
}

.screen .zoom-btn a {
	line-height: 40px;
	display: block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #333;
	border: 2px solid rgba(0, 0, 0, .5);
	background-color: #fff;
}

.screen .balloon {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 15px;
	color: #fff;
	background-color: #000;
	background-color: rgba(51, 51, 51, .9);
}

.screen .balloon::after {
	position: absolute;
	top: -10px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -4px;
	content: '';
	border-width: 0 4px 10px 4px;
	border-style: solid;
	border-color: transparent transparent #000 transparent;
	border-color: transparent transparent rgba(51, 51, 51, .9) transparent;
}

.screen .balloon.active {
	display: block;
	-webkit-animation: fadeIn .5s ease 0s 1 normal;
	animation: fadeIn .5s ease 0s 1 normal;
}

@media screen and (max-width: 767px) {

.pc-not-view {
	display: block;
}

.sp-not-view {
	display: none;
}

.screen {
	overflow: hidden;
}

}

@-webkit-keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes fadeIn {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

