<%- include('../../common/reserve/_performances', {isSponsor: false, isStaff: false}) %>

<a class="btn btn-default btn-lg btn-block" href="<%- url('window.mypage') %>"><%- __('Button.Back') %></a>
