<h1>HOME</h1>

<ul>
    <li><a href="<%- url('customer.reserve.terms', {}) %>">一般客</a></li>
    <li><a href="<%- url('member.reserve.terms', {}) %>">先行予約</a></li>
    <li><a href="<%- url('sponsor.mypage', {}) %>">外部関係者</a></li>
    <li><a href="<%- url('staff.mypage', {}) %>">内部関係者</a></li>
    <li><a class="disabled" href="#">電話窓口(未実装)</a></li>
    <li><a class="disabled" href="#">当日窓口(未実装)</a></li>
</ul>