<h1>HOME</h1>

<ul>
    <li><a href="<%- url('customer.reserve.terms', {}) %>">一般客</a></li>
    <li><a href="<%- url('sponsor.reserve.terms', {}) %>">外部関係者予約</a></li>
    <li><a href="#">先行予約</a></li>
    <li><a href="#">TIFFスタッフ</a></li>
    <li><a href="#">電話窓口</a></li>
    <li><a href="#">当日窓口</a></li>
</ul>