<%- include('../../common/reserve/_complete') %>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="/sponsor/reserve/start"><span><%- __('Button.BackToSelectPerformance') %></span></a>
    <a class="btn btn-lg btn-next" href="/sponsor/reserve/start?performance=<%= reservationDocuments[0].performance %>"><span><%- __('Button.ReserveMoreSameShow') %></span></a>
</div>
