<%- include('../../common/reserve/_complete') %>

<div class="btns2clm">
    <a class="btn btn-lg btn-next" href="http://2016.tiff-jp.net/"><span><%- __('Button.ReserveTicketsAnotherMovie') %></span></a>
    <a class="btn btn-lg btn-back" href="http://2016.tiff-jp.net/"><span><%- __('Button.BackToOfficialSite') %></span></a>
</div>
