<h1>規約</h1>

<form method="post">
    <div class="checkbox">
        <label for="id_agree">
            <input type="checkbox" name="agree" id="id_agree" value="on"> 同意する
        </label>
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block">
</form>