<h1 class="pagetitle"><%- __('h1.Terms') %></h1>
<p class="guidetext">ご利用規約をご確認頂き、問題ないようでしたら「利用規約に同意して次へ」ボタンを押してください</p>

<p class="termtext">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Laborum sequi optio ullam ad nihil dolores eum, officiis assumenda delectus ea.<br>
    Adipisci, laboriosam, illo! Fugiat officia quisquam, quasi ex et voluptate.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Nemo hic sit et facilis minima nulla tempora,<br>
    quibusdam, quos esse obcaecati beatae officia ab,<br>
    doloribus amet nisi. Voluptatibus corporis iusto veniam.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Placeat magni hic magnam ducimus ratione rem perferendis totam sed,<br>
    aliquam veniam error quibusdam accusantium sit aspernatur facere eaque incidunt minus nesciunt.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Impedit dolore unde, tempora nemo illo id suscipit voluptatibus ipsam,<br>
    qui officia, earum ullam labore exercitationem dicta cupiditate, ducimus explicabo animi quas!<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Laborum sequi optio ullam ad nihil dolores eum, officiis assumenda delectus ea.<br>
    Adipisci, laboriosam, illo! Fugiat officia quisquam, quasi ex et voluptate.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Nemo hic sit et facilis minima nulla tempora,<br>
    quibusdam, quos esse obcaecati beatae officia ab,<br>
    doloribus amet nisi. Voluptatibus corporis iusto veniam.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Placeat magni hic magnam ducimus ratione rem perferendis totam sed,<br>
    aliquam veniam error quibusdam accusantium sit aspernatur facere eaque incidunt minus nesciunt.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
    Impedit dolore unde, tempora nemo illo id suscipit voluptatibus ipsam,<br>
    qui officia, earum ullam labore exercitationem dicta cupiditate, ducimus explicabo animi quas!
</p>

<div class="loginform loginform-member">
    <form method="post">
        <a class="btn btn-big btn-login" href="javascript:void(0);"><span>利用規約に同意する</span></a>
    </form>
</div>

<script>
$(function(){
    $('.btn-login').on('click', function(){
        $('form').submit();
    });

});
</script>
