<style>
body {
    line-height: 1.5;
}
</style>

<script src="/js/customer/cancel.js"></script>

<div class="cancelform">
    <h2>チケット返金(キャンセル)受付ページ<br>Online Ticket Cancel</h2>
    <p class="row">
    購入完了時に発行される購入番号と、購入時にご入力頂いた電話番号で<br>ご予約頂いた座席のキャンセルと返金リクエストを行うことができます。<br>
    You can cancel your ticket reservation and request a refund by using the transaction number issued when you completed your reservation and the telephone number which you entered in your reservation process.
    </p>

    <p class="errmsg"></p>

    <form>
        <div class="form-group form-inline">
            <labeL>購入番号<br>Transaction number</labeL>
            <input type="text" class="form-control" name="paymentNo" value="<%= paymentNo %>">
        </div>
        <div class="form-group form-inline">
            <label>電話番号下4桁<br>Last 4 digits of telephone number</label>
            <input type="text" class="form-control" name="last4DigitsOfTel" value="<%= last4DigitsOfTel %>">
        </div>
        <p class="btn btn-big btn-confirmcancel confirm-cancel" data-url="<%- url('customer.cancel') %>"><span>照会<br>Confirm</span></p>
    </form>

    <div>
        <p>
        <br>
        コンビニエンスストア決済されたお客様：<br>
        For customers who paid at a convenience store<br>
        <br>
        チケット代金及び発券手数料をお支払い頂きましたお客様につきましても<br>
        ご指定の銀行口座に返金させて頂きます。<br>
        返金方法につきましてはメールにてご案内致します。<br>
        Your ticket fee, including ticketing commission,<br>
        will be transferred to your bank account.<br>
        Detailed information on this will be provided by e-mail.
        </p>
    </div>
</div>


<div class="modal modal-cancel fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p class="row">
                以下の内容でご予約を承っております。<br>
                キャンセルを行う場合は返金(キャンセル)を申し込むボタンを押してください。<br>
                Your ticket reservation details are as follows.<br>
                Please click on the button “Request for a refund(cancel)” to cancel your ticket.
                </p>
                <table class="table table-reservation-confirm">
                </table>


                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-cancel" data-url="<%- url('customer.cancel.executeByPaymentNo') %>"><span><span>返金(キャンセル)を申し込む<br>Request for<br>a refund(cancel)</span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span>戻る<br><br>Back</span></p>
                </div>

                <p>
                なお、一旦申込されますと申し込み取り消しはできませんのでご注意ください。<br>
                Please note that once you submit your request, you cannot cancel it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-cancel fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p>
                返金(キャンセル)の手続きを受付けました。<br>
                実際のキャンセル処理は申し込みの翌日に自動的に実施します<br>
                お客様ならびに関係する皆様に多大なるご迷惑、ご心配をお掛けしたことを重ねてお詫び申し上げます。<br>
                We have received your request for a refund (cancellation).<br>
                Refund will be processed automatically in the following day upon your request.<br>
                We are deeply sorry for the anxiety and inconvenience we caused you and all parties concerned
                </p>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-mail fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                キャンセルしています...<br>Now canceling...
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>