<style>
body {
    line-height: 1.5;
}
</style>

<script src="/js/customer/cancel.js"></script>

<div class="cancelform">
    <h2>チケット返金(キャンセル)受付ページ<br>Online Ticket Cancel</h2>
    <p class="row">
    購入完了時に発行される購入番号と、購入時にご入力頂いた電話番号で<br>ご予約頂いた座席のキャンセルと返金リクエストを行うことができます。<br>
    You can cancel your ticket reservation and request a refund by using the transaction number issued when you completed your reservation and the telephone number which you entered in your reservation process.
    </p>

    <p class="errmsg"></p>

    <form>
        <div class="form-group form-inline">
            <labeL>購入番号<br>Transaction number</labeL>
            <input type="text" class="form-control" name="paymentNo" value="<%= paymentNo %>">
        </div>
        <div class="form-group form-inline">
            <label>電話番号下4桁<br>Last 4 digits of telephone number</label>
            <input type="text" class="form-control" name="last4DigitsOfTel" value="<%= last4DigitsOfTel %>">
        </div>
        <p class="btn btn-big btn-confirmcancel confirm-cancel" data-url="<%- url('customer.cancel') %>"><span>照会<br>Confirm</span></p>
    </form>

    <div>
        <p>
        <br>
        コンビニ決済ご利用のお客様へは下記の方法で返金いたします。<br>
        手続きフローに沿って必要事項をご登録ください。<br>
        ＜英訳＞XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br>
        <br>
        </p>

        <p style="border: solid 1px #ff0000;">
        ※15日（土）に、お席が未確保にもかかわらず、コンビニエンスストアにて現金もしくはデビットカードにてチケット代金をお支払済みのお客様におかれましては、19日（水）にお送りしたメールにてご案内している「返金登録フォーム」からご返金手続きをしていただくようお願い申し上げます。上記チケット返金（キャンセル）受付ページからはお手続できません。<br>
        ＜英訳＞XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br>
        <p>

        <p>
        <br>
        【郵便為替をご希望の場合】<br>
        ご登録いただいた宛先に、郵便為替にてご返金いたします。<br>
        ※ご登録日より5営業日（土・日・祝日を除く）以内に返金発送いたします。<br>
        ※送金名義は、「東京国際映画祭事務局」です。<br>
        Refund by postal money order (yubin-kawase)<br>
        It will be dispatched within 5 business days (excluding Saturday, Sunday & holiday) after your registration.<br>
        ※ The name of remitter will be “29th Tokyo International Film Festival”.<br>
        <br>
        【銀行口座振込みご希望の場合】<br>
        1．ご登録いただいた宛先に、振込先情報をご返送いただくための「振込先情報シート」を速やかにご郵送いたします。<br>
        2．到着した「振込先情報シート」に銀行名、支店名等の口座情報を漏れなくご記入後、同封の返信封筒にて東京国際映画祭事務局宛に「振込先情報シート」をご返送下さい。<br>
        3．「振込先情報シート」にてご指定いただいた銀行口座宛にお振込みにより返金いたします。<br>
        ※振込手数料は、東京国際映画祭事務局にて負担いたします。<br>
        ※「振込先情報シート」」到着後、5営業日（土・日・祝日を除く）以内に返金いたします。<br>
        ※ご返金手続き完了後、お客様宛に「返金完了のお知らせ」をメールにてお送りいたします。<br>
        ※送金名義は、「東京国際映画祭事務局」です。<br>
        Refund by Bank Transfer<br>
        ① By post, we will immediately send Bank Account Information Sheet to the registered address, so you can post us back your bank account information.<br>
        ② Please write your bank account information (bank name, branch name, etc.) on the Bank Account Information Sheet you will receive, and post it back to 29th Tokyo International Film Festival using the sase (self-addressed stamped envelope) that is enclosed.<br>
        ③ We will make the refund by bank transfer, to your bank account you have written on Bank Account Information Sheet.<br>
        ※ 29th Tokyo International Film Festival will cover the bank transfer fee.<br>
        ※ Refund will be made within 5 business days (excluding Saturday, Sunday & holiday) after we receive the receipt of your Bank Account Information Sheet.<br>
        ※ You will receive an email titled “Notice of Refund Completion” once the procedure has finished.<br>
        ※ The name of remitter will be “29th Tokyo International Film Festival”.
        </p>
    </div>
</div>


<div class="modal modal-cancel fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p class="row">
                以下の内容でご予約を承っております。<br>
                キャンセルを行う場合は返金(キャンセル)を申し込むボタンを押してください。<br>
                Your ticket reservation details are as follows.<br>
                Please click on the button “Request for a refund(cancel)” to cancel your ticket.
                </p>
                <table class="table table-reservation-confirm">
                </table>


                <div class="btns2clm">
                    <p class="btn btn-lg btn-next btn-exec execute-cancel" data-url="<%- url('customer.cancel.executeByPaymentNo') %>"><span><span>返金(キャンセル)を申し込む<br>Request for<br>a refund(cancel)</span></p>
                    <p class="btn btn-lg btn-back" data-dismiss="modal"><span><span>戻る<br><br>Back</span></p>
                </div>

                <p>
                なお、一旦申込されますと申し込み取り消しはできませんのでご注意ください。<br>
                Please note that once you submit your request, you cannot cancel it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-cancel fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                <h2>チケット返金(キャンセル)内容照会<br>Ticket refund(cancel) details</h2>
                <p>
                返金(キャンセル)の手続きを受付けました。<br>
                実際のキャンセル処理は申し込みの翌日に自動的に実施します<br>
                お客様ならびに関係する皆様に多大なるご迷惑、ご心配をお掛けしたことを重ねてお詫び申し上げます。<br>
                We have received your request for a refund (cancellation).<br>
                Refund will be processed automatically in the following day upon your request.<br>
                We are deeply sorry for the anxiety and inconvenience we caused you and all parties concerned
                </p>
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-mail fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="btn-circle-close" data-dismiss="modal"></p>
            <div class="modal-body">
                キャンセルしています...<br>Now canceling...
            </div>
            <div class="modal-footer">
                <p class="btn btn-close" data-dismiss="modal"><span>閉じる<br>Close</span></p>
            </div>
        </div>
    </div>
</div>