<html lang="ja">
<head>
<meta charset="utf-8">
<title>第29回東京国際映画祭（2016）Online Ticket</title>
<meta name="description" content="第29回東京国際映画祭は2016年10月25日（火）から11月3日（木・祝）の10日間開催いたします。">
<meta name="keywords" content="東京国際映画祭, 2016, TIFF, コンペティション,Competiton,">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link href="/css/tiff2016.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body id="page_error_notFound" class="page-error page-notFound page-ja">

<header>
    <div class="container">

        <a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.png" alt="TIFF"></a>

        <div class="header-menu">
    
        </div>
    </div>
</header>

<div class="container">
    <!--<h1 class="pagetitle">
		不要チケットのキャンセルおよびご返金の受付は11月18日（金）をもって終了致しました。<br>
		The Refund and Cancellation of the Unnecessary Tickets Registration ended on Fri 18 Nov.
	</h1>-->

    <p class="guidetext">
        不要チケットのキャンセルおよびご返金の受付は11月18日（金）をもって終了致しました。
        <br>
        The Refund and Cancellation of the Unnecessary Tickets Registration ended on Fri 18 Nov.
    </p>

</div>

<footer>
</footer>

</body>
</html>