<%- include('../../common/reserve/_complete') %>

<%
let preReserveStartUrl = url('pre.reserve.start');
switch (process.env.NODE_ENV) {
    case 'production':
        preReserveStartUrl = 'https://pre.tiff-ticket.net' + preReserveStartUrl;
        break;
    case 'test':
        preReserveStartUrl = 'https://test4pretiffwebapp.azurewebsites.net' + preReserveStartUrl;
        break;
    case 'development':
        break;
    default:
        break;
}
%>
<div class="center">
    <a class="btn btn-lg btn-next" href="<%= preReserveStartUrl %>"><span><%- __('Button.BackToSelectPerformance') %></span></a>
</div>
