<h1>内部関係者向け座席予約ページ</h1>

<div class="row">
    <a class="btn btn-lg btn-block btn-primary" href="<%- url('staff.reserve.performances', {}) %>">新規関係者チケット手配</a>
</div>

<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="">上映日</label>
            <select class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label for="">上映開始時間</label>
            <select class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label for="">作品名</label>
            <select class="form-control" name="film">
                <option value="">---</option>
                <option value="5750f4dc0b08d7700b972ffd">スリー・オブ・アス</option>
                <option value="5768a6ed904abdb423199cdd">クローバーフィールド・レーン</option>
                <option value="5768a708904abdb423199cdf">帰ってきたヒトラー</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">フリーワード</label>
            <input type="text" class="form-control">
        </div>

        <a class="btn btn-primary search" href="javascript:void(0)">検索</a>
    </form>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-striped reservations">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox check-all">
                            <label>
                                <input type="checkbox" value="">
                            </label>
                        </div>
                    </th>
                    <th>予約管理番号</th>
                    <th>作品名</th>
                    <th>上映時間/場所</th>
                    <th>座席</th>
                    <th>最終更新者</th>
                    <th>配布先</th>
                    <th>鑑賞キャンセル</th>
                    <th>印刷</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <select class="form-control">
                <option value="">一括操作</option>
                <option value="cancel">キャンセル</option>
                <option value="print">印刷</option>
            </select>
        </div>

        <a class="btn btn-primary action-to-reservations">適用</a>
    </form>

    <div class="text-center pager-section">

    </div>
</div>



<div class="modal fade cancel-reservation-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
                <button type="button" class="btn btn-primary execute-cancel">はい</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cancel-reservation-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                予約のキャンセルが完了しました
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">searching...</div>
            </div>
        </div>
    </div>
</div>



<script>
// 予約番号ごとにまとめた予約ドキュメントリスト
var reservationDocuments = [];
var conditions = {
    page: '1'
};

function showReservations() {
    var html = '';

    reservationDocuments.forEach((reservationDocument, index) => {
        html += `
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="${reservationDocument.payment_no}">
                    </label>
                </div>
            </td>
            <td>${reservationDocument.payment_no}</td>
            <td>${reservationDocument.film_name}</td>
            <td>
                ${reservationDocument.performance_day} ${reservationDocument.performance_start_time}～
                ${reservationDocument.theater_name} ${reservationDocument.screen_name}
            </td>
            <td>
                <a class="show-seat" href="javascript:void(0);"
                    data-payment-no="${reservationDocument.payment_no}"
                    data-seat-code="${reservationDocument.seat_code}">${reservationDocument.seat_code}</a></td>
            <td>${reservationDocument.staff_signature}</td>
            <td>
                <div class="col-md-6">
                    <input type="text" class="form-control" value="${reservationDocument.watcher_name}">
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary update-watcher-name" href="javascript:void(0)"
                        data-payment-no="${reservationDocument.payment_no}"
                        data-reservation-id="${reservationDocument._id}">更新</a>
                </div>
            </td>
            <td><a class="btn btn-primary" href="javascript:void(0)">印刷(未実装)</a></td>
            <td>
                <a class="btn btn-primary confirm-cancel" href="javascript:void(0)"
                    data-payment-no="${reservationDocument.payment_no}"
                    data-seat-code="${reservationDocument.seat_code}"
                    data-reservation-id="${reservationDocument._id}">キャンセル</a>
            </td>
        </tr>
`;
    });

    $('table.reservations tbody').html(html);
}

function showPager(count) {
    var html = '';

    html += `
<nav>
    <ul class="pagination">
`;

    if (conditions.page > 1) {
        html += `
        <li>
            <a href="javascript:void(0)" aria-label="Previous" class="change-page" data-page="1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
`;
    }

    pages = Math.ceil(count / 2);

    for (var i=0; i<pages; i++) {
        if (parseInt(conditions.page) === i + 1) {
    html += `
        <li class="active"><a href="javascript:void(0)">${i + 1}</a></li>
`;

        } else {
    html += `
        <li><a href="javascript:void(0)" class="change-page" data-page="${i + 1}">${i + 1}</a></li>
`;

        }
    }

    if (parseInt(conditions.page) < pages) {
        html += `
        <li>
            <a href="javascript:void(0)" aria-label="Next" class="change-page" data-page="${pages}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
`;
    }

    html += `
    </ul>
</nav>
`;

    $('.pager-section').html(html);
}

function showConditions() {
    if (conditions.film) {
        $('form select[name="film"]').val(conditions.film);
    } else {
        $('form select[name="film"] option').attr('selected', false); 
    }
}

function search() {
    $.ajax({
        dataType: 'json',
        url: '<%- url('staff.mypage.search', {}) %>',
        type: 'GET',
        data: conditions,
        beforeSend: function() {
            $('.loading').modal();
        },
        complete: function() {
            $('.loading').modal('hide');
        },
        success: function(data) {
            if (data.isSuccess) {
                reservationDocuments = data.results;

                showReservations();
                showPager(parseInt(data.count));
                showConditions();

            } else {
            }
        },
        error: function(jqxhr, textStatus, error) {
        }
    });
}

$(function(){
    // 予約リスト表示
    search();

    $(document).on('click', '.search', function(){
        conditions.page = '1';
        conditions.film = $('form select[name="film"]').val();
        search();
    });

    $(document).on('click', '.change-page', function(){
        conditions.page = $(this).attr('data-page');
        search();
    });

    $(document).on('click', '.show-seat', function(){
        // let paymentNo = $(this).attr('data-payment-no');
        // showSeatMap(screenSeatCodesByPaymentNo[paymentNo], [$(this).attr('data-seat-code')]);
    });

    // キャンセルしようとしている予約リスト
    var reservations4cancel = [];
    $(document).on('click', '.confirm-cancel', function(){
        reservations4cancel = [];
        reservations4cancel.push({
            id: $(this).attr('data-reservation-id'),
            paymentNo: $(this).attr('data-payment-no'),
        });

        $('.cancel-reservation-confirm .modal-body').html(`席「${$(this).attr('data-seat-code')}」の予約をキャンセルします`);
        $('.cancel-reservation-confirm').modal();
    });

    $(document).on('click', '.execute-cancel', function(){
        var self = this;
        var reservationIds = [];
        reservations4cancel.forEach(function(reservation){
            reservationIds.push(reservation.id);
        });

        $.ajax({
            dataType: 'json',
            url: '<%- url('staff.cancel.execute', {}) %>',
            type: 'POST',
            data: {
                reservationIds: JSON.stringify(reservationIds)
            },
            beforeSend: function() {
                $('.cancel-reservation-confirm').modal('hide');
            },
            complete: function() {
            },
            success: function(data) {
                if (data.isSuccess) {
                    // 再検索
                    search();

                    $('.cancel-reservation-complete').modal();
                } else {
                    alert('キャンセルできませんでした');
                }
            },
            error: function(jqxhr, textStatus, error) {
            }
        });
    });

    $(document).on('click', '.update-watcher-name', function(){
        var paymentNo = $(this).attr('data-payment-no');
        var reservationId = $(this).attr('data-reservation-id');
        var watcherName = $('input', $(this).parent().parent()).val();

        $.ajax({
            dataType: 'json',
            url: '<%- url('staff.mypage.updateWatcherName', {}) %>',
            type: 'POST',
            data: {
                reservationId: reservationId,
                watcherName: watcherName,
            },
            beforeSend: function() {
            },
            complete: function() {
            },
            success: function(data) {

                if (data.isSuccess) {
                    // 再検索
                    search();

                    // TODO 再検索しなくてもいいはず？
                    // reservationDocumentsByPaymentNo[paymentNo][reservationId]['watcher_name'] = data.reservation.watcher_name;
                    // reservationDocumentsByPaymentNo[paymentNo][reservationId]['staff_signature'] = data.reservation.staff_signature;
                    // showReservations();

                } else {
                    alert('更新できませんでした');
                }
            },
            error: function(jqxhr, textStatus, error) {
            }
        });
    });


    $(document).on('click', '.action-to-reservations', function(){
        var action = $('select', $(this).parent()).val();

        /*
        if (action === 'cancel') {
            var reservations = [];
            var seatCodes = [];

            // チェック予約リストを取得
            $('td input[type="checkbox"]:checked').map(function(){
                var paymentNo = $(this).val();

                if (paymentNo) {

                        reservations.push({
                            id: reservation._id,
                            paymentNo: paymentNo,
                        });

                        seatCodes.push(reservation.seat_code);
                }
            });

            if (reservations.length < 1) {
                alert('予約をチェックしてください');
            } else {
                // 確認モーダル表示
                reservations4cancel = reservations;
                $('.cancel-reservation-confirm .modal-body').html(`席「${seatCodes.join('、')}」の予約をキャンセルします`);
                $('.cancel-reservation-confirm').modal();
            }

        } else if (action === 'print') {

            alert('未実装です');
        } else {
            alert('操作を選択してください');
        }
        */
    });


    $(document).on('click', '.check-all input[type="checkbox"]', function(){
        $('td input[type="checkbox"]').prop('checked', $(this).is(':checked'));
    });
})
</script>

