<h1 class="pagetitle">キャンセル完了</h1>
<p class="guidetext">
    予約をキャンセルしました。
</p>

<div class="center">
    <a class="btn btn-lg btn-big" href="http://2016.tiff-jp.net"><span>公式サイトに戻る</span></a>
</div>
